$color: #fff;
$font: 15px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import 'reset';
@mixin flex($ai, $jc, $fd) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}


.transition-fade
{
    transition: .4s;
    opacity: 1;
}
html.is-animating .transition-fade
{
    opacity: 0;
    transform: scaleY(100px);
}

body
{
    margin: 0;
    padding: 0;

    /*
    header{
        width: 100%;
        height: 100px;


        a{
            text-decoration: none;
            color: #fff;
            
            &:hover {
                transition: all .2s linear;
                color: $color;
            }
        }
    }
    */
}

.container
{
    max-width: 100vw;
    width: 100%;
}




/* block 1 */


.block1
{
    position: relative;
    height: 2690px;

    background-color: rgba($color: #000000, $alpha: 0.2);
    background-image: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header
{
    position: relative;
    display: flex;
    top: 60px;
    height: 120px;

    justify-content: center;

    z-index: 1;
}

.header > div
{
    @include flex(center, center, column);
    gap: 52px;
    
    width: 940px;

    .nav
    {
        @include flex(center, center, row);
        gap: 24px;

        .nav-item
        {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;

            letter-spacing: 1.3px;
            text-align: center;
            text-transform: uppercase;

            opacity: 0.6;
            color: #FFFFFF;
            transition: all .2s linear;

            &:hover
            {
                opacity: 1;
                text-shadow: 0 1px 10px #fff;
                transition: all .2s linear;
            }

            &::after { 
                content: "";
                position: relative;
                margin-top: 5px;
                left: 50%;
                display: block;
                height: 2px;
                width: 0;
                background: #fff;
                opacity: 0.7;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }
              
            &:hover::after { 
                width: 100%; 
                left: 0; 
            }
        }
    }
}






.container-bg
{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
}


.container-bg > div{
    position: relative;
    @include flex(center,center,column);
    gap: 10px;
    top: 269px;
    width: 100%;
    height: 1801px;

    .card-head
    {
        padding-top: 160px;
        padding-left: 60px;
        width: 800px;
        height: 330px;
        border-radius: 5px 5px 0 0;


        .head
        {
            @include flex(flex-start, flex-start, row);
            gap: 14px;

            .nd
            {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .name
                {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 19px;

                    color: #FFFFFF;
                }

                .data
                {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 19px;

                    color: #FFFFFF;
                }
            }


        }

        .card-title
        {
            padding-top: 20px;
            width: 470px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 35px;
            /* or 125% */


            color: #FFFFFF;
        }
    }


    .card
    {
        width: 800px;
        height: 510px;


        .card-body
        {
            @include flex(center, center, column);
            height: 180px;

            border-radius: 0 0 5px 5px;
            background-color: #FFFFFF;

            .body
            {
                width: 664px;

                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;

                color: #333333;

                a
                {   
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
    
    
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 30px;
    
                    color: #8D4FDB;
                }
            }
        }

        .card-under
        {
            @include flex(center, center, column);
            gap: 21px;

            height: 211px;
            background-color: #f1f1f1;


            h1
            {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                
                text-align: center;
                
                color: #333333;  
            }

            button
            {
                width: 182px;
                height: 45px;

                background: #8D4FDB;
                border: 0;
                border-radius: 3px;

                a
                {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 30px;

                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;

                    color: #FFFFFF;
                }
            }
        }

        }


}


.container-bg > div{
    position: relative;
    @include flex(center,center,column);
    gap: 10px;
    top: 269px;
    width: 100%;
    height: 1801px;

    .card-head
    {
        padding-top: 160px;
        padding-left: 60px;
        width: 800px;
        height: 330px;
        border-radius: 5px 5px 0 0;


        .head
        {
            @include flex(flex-start, flex-start, row);
            gap: 14px;

            .nd
            {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .name
                {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 19px;

                    color: #FFFFFF;
                }

                .data
                {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 19px;

                    color: #FFFFFF;
                }
            }


        }

        .card-title
        {
            padding-top: 20px;
            width: 470px;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 35px;
            /* or 125% */


            color: #FFFFFF;
        }
    }


    .card
    {
        width: 800px;
        height: 510px;


        .card-body
        {
            @include flex(center, center, column);
            height: 180px;

            border-radius: 0 0 5px 5px;
            background-color: #FFFFFF;

            .body
            {
                width: 664px;

                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;

                color: #333333;

                a
                {   
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
    
    
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 30px;
    
                    color: #8D4FDB;
                }
            }
        }

        .card-under
        {
            @include flex(center, center, column);
            gap: 21px;

            height: 211px;
            background-color: #f1f1f1;


            h1
            {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 36px;
                
                text-align: center;
                
                color: #333333;  
            }

            button
            {
                width: 182px;
                height: 45px;

                background: #8D4FDB;
                border: 0;
                border-radius: 3px;

                a
                {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 30px;

                    text-align: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;

                    color: #FFFFFF;
                }
            }
        }

        }
}


.block2
{
    @include flex(center, center, column);
    text-align: center;
    height: 679px;

    background-color: #FFFFFF;

    .block2-title
    {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        
        color: #333333;        
    }

    .block2-subtitle
    {
        margin-top: 25px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 33px;
        
        color: #A9AFB3;
    }

    .block2-card
    {
        position: relative;
        @include flex(center, center, row);
        text-align: start;
        margin-top: 50px;
        gap: 20px;

        width: 940px;
        height: 295px;

        .card-mini
        {
            width: 319.98px;
            height: 295px; 


            .mini-head
            {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 8px;

                padding-top: 131px;
                padding-left: 24px;
                width: 300px;
                height: 190px;

                .mini-nd
                {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .mini-name
                    {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;

                        color: #FFFFFF;
                    }

                    .mini-data
                    {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 18px;

                        color: #FFFFFF;
                    }
                }
            }

            .mini-body
            {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 281px;
                height: 105px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;

                color: #000000;                
                background-color: #fff;
            }
        }
    }


    .block2-adress
    {
        margin-top: 30px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;

        color: #333333;

        a{color: #8D4FDB;}
    }
}




.under
{
    @include flex(center, center, column);
    text-align: center;
    height: 166px;

    background-color: #000;


    h1
    {
        width: 500px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 38px;

        color: #8B8B8B;        
    }
}




